/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  
  // colors
--clr-red: hsl(14, 86%, 42%);
--clr-green: hsl(159, 69%, 38%);
--clr-rose-50: hsl(20, 50%, 98%);
--clr-rose-100: hsl(13, 31%, 94%);
--clr-rose-300: hsl(14, 25%, 72%);
--clr-rose-400: hsl(7, 20%, 60%);
--clr-rose-500: hsl(12, 20%, 44%);
--clr-rose-900: hsl(14, 65%, 9%);

// typography
--ff-red-hat: "Red Hat Text", sans-serif;
-fw-light:400;
-fw-normal:600;
-fw-normal:700;
}

// CSS Reset
/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}



body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: var(--ff-red-hat);
}


// global styles


.dessert-card {
  border: 0;
  transition: all 0.5s ease;
  .add-buttons {
    margin-top: -35px;
    display: flex;
    justify-content: center;
  }
  .btn {
    color: var(--clr-rose-900);
    background-color: var(--clr-rose-50);
    border-color: var(--clr-rose-400);
    transition: all .5s ease-in-out;
    display: flex;
    &:hover {
      border-color: var(--clr-red);
      color: var(--clr-red);
    }
  }
  .card-img-top {
    -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  &:hover {
    .card-img-top {
        -webkit-transform: scale(1.05);
          transform: scale(1.05);
    }
  }
}





